.swiper-container {
  padding-bottom: 40px;
}
s .swiper-pagination-bullet {
  width: 10px; /* Pagination 점의 너비 */
  height: 10px; /* Pagination 점의 높이 */
  background-color: #fff; /* Pagination 점의 색상 */
  opacity: 1; /* 선택되지 않은 Pagination 점의 불투명도 */
}

.swiper-pagination-bullet-active {
  background-color: #000; /* 활성 Pagination 점의 색상 */
}

.swpier-wrapper {
  transition-timing-function: linear;
}
