.background {
  margin-top: 100px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: solid 1px #00a6ff;
  border-radius: 26px;
  width: 538px;
  height: 1600px;
  position: flex;
  margin: 40px auto;
}
.setForm {
  position: flex;
  margin: 0px 20px;
}
.titleBox {
  display: flex;
  line-height: 60px;
  margin: 30px auto;
  margin-bottom: 0;
}
.title {
  color: #333333;
  font-size: 36px;
  font-weight: 600;
  margin-left: 20px;
}
.regist {
  text-decoration: none;
  color: #ff4636;
  display: flex;
  font-size: 16px;
}
.registBox {
  display: flex;
  margin-top: 38px;
  margin-left: 120px;
}
.inputForm {
  width: 462px;
  margin: 0 auto;
}
.inputs {
  width: 454px;
  height: 64px;
  margin: 0 auto;
  border-radius: 10px;
  border: solid 1px #cccccc;
  box-shadow: 0px 10px 40px rgba(174, 174, 174, 0.2);
  text-indent: 20px;
  font-size: 14px;
}
.inputName {
  margin-top: 28px;
  color: #333333;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.inputsSmall {
  width: 204px;
  height: 64px;
  border-radius: 10px;
  border: solid 1px #cccccc;
  box-shadow: 0px 10px 40px rgba(174, 174, 174, 0.2);
  text-indent: 20px;
  font-size: 14px;
}
.gradeText {
  margin-left: 222px;
  color: #333333;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  font-weight: 500;
}
.inputsSmallGrade {
  width: 204px;
  height: 64px;
  border-radius: 10px;
  border: solid 1px #cccccc;
  box-shadow: 0px 10px 40px rgba(174, 174, 174, 0.2);
  text-indent: 20px;
  font-size: 14px;
  margin-left: 38px;
  position: absolute;
}
.terms_list {
  margin: 10px 20px;
  padding-left: 0;
}
.terms_box {
  overflow: auto;
  margin-top: 17px;
  box-sizing: border-box;
  max-height: 100px;
  border-radius: 6px;
  border: 1px solid #d6d6d6;
  color: #555555;
}
.terms_box_all {
  margin-top: 17px;
  color: #555555;
}
.terms_set {
  margin-top: 44px;
  line-height: 30px;
}
.check {
  list-style: none;
}
.checktext {
  font-size: 20px;
  font-weight: 500;
  display: inline;
  vertical-align: top;
}
.checkbox {
  margin-bottom: 0;
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  background-color: gainsboro;
  width: 25px;
  height: 25px;
  border: 1.5px solid gainsboro;
  border-radius: 15px;
  cursor: pointer;
}
.checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-color: #ffcc47;
}
.color {
  color: #00a6ff;
}
.color2 {
  color: #888;
}
.btn {
  width: 454px;
  height: 64px;
  background-color: #00a6ff;
  color: white;
  cursor: pointer;
  border: 0;
  margin-top: 50px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0px 10px 40px rgba(174, 174, 174, 0.2);
}
.btn:hover {
  box-shadow: 3px 3px 3px rgb(172, 172, 172), 3px 3px 3px rgb(237, 237, 237);
  transition: 0.3s;
}
.backSignIn {
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}

.btnBox {
  position: absolute;
  margin: 0 20px;
  width: 454px;
  height: 10px;
}
.backText {
  color: #333333;
}
