.wrap {
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
  background: url(../img/background.png) no-repeat;
  background-size: cover;
}
.background {
  box-sizing: border-box;
  background-color: #ffffff;
  border: solid 1px#cccccc;
  border-radius: 26px;
  width: 600px;
  height: 800px;
  position: flex;
  margin-top: 8vh;
  margin-left: 10vw;
}
.btn {
  align-items: center;
  justify-content: center;
  margin: 45px auto;
  display: flex;
  width: 454px;
  height: 64px;
  background-color: #333333;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0px 10px 40px rgba(174, 174, 174, 0.2);
}
.btn:hover {
  box-shadow: 3px 3px 3px rgb(172, 172, 172), 3px 3px 3px rgb(237, 237, 237);
  transition: 0.3s;
}
.inputs {
  margin: 10px auto;
  display: flex;
  width: 454px;
  height: 64px;
  border-radius: 10px;
  border: solid 1px #cccccc;
  box-shadow: 0px 10px 40px rgba(174, 174, 174, 0.2);
  text-indent: 20px;
  font-size: 14px;
}
.inputs::placeholder {
  padding-left: 5px;
  font-size: 14px;
}
input:focus {
  outline: none;
}
.title {
  
  margin-top: 60px;
  margin-left: 66px;
  width: 156px;
  height: 44px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
}
.form {
  
  margin-top: 70px;
}
.checkbox {
  width: 454px;
  margin: 13px auto
}
.find {
  position: absolute;
  margin-left: 300px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #555555;
}
.maintain {
  position: absolute;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
}
.signUp {
  margin: 100px auto;
  display: flex;
  width: 454px;
  font-size: 16px;
  justify-content: center;
}
.signUpText {
  margin-left: 10px;
  font-weight: 100;
  color: #333333;
  text-decoration-line: underline;
  font-weight: 600;
}
