.postingBox {
  width: 255px;
  height: 250px;

  float: left;
  border: solid 1px black;
  margin-left: 1vw;
  margin-top: 40px;
}
.postingBox:hover {
  cursor: pointer;
}
.textarea {
  width: 80%;
}
